.box{
    border: 1px solid #ccc;
    background: #FFF;

    .box-header {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        h5{
            margin: 0;
            font-size: 1.1rem;
        }
    }

    .box-content {
        padding: 10px;
    }
}