body {
    text-rendering: optimizeLegibility;
    font-weight: $base-font-weight;
}

a {
    //color: $action-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
    }
}

.strong{
    font-weight: 700 !important;
}

.thin {
    font-weight: 100 !important;
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}

.sm {
    font-size: 75%!important;
}

.lead {
    font-size: 120%;
}

.text-error{
    color: $error;
}
.text-success {
    color: $success;
}

.text-center {
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}


//material design
.text-display-4 {
    font-size: 7rem;
    letter-spacing: -5px;
}

.text-display-3 {
    font-size: 5rem;
}

.text-display-2 {
    font-size: 4.5rem;
}

.text-display-1 {
    font-size: 3.5rem;
}

.text-headline {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.1;
    margin-bottom: 0;
}

.text-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.1;
    margin-bottom: 0;
}

.text-subhead {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;

}

.text-body {
    font-size: 1rem;
    font-weight: 400;
}

.text-caption {
    font-size: 1.5rem;
    font-weight: 400;
}


address{
    font-style: normal;
}