.m-rs {
    margin-right: 5px;
}
.m-rm{
    margin-right: 10px;
}

.m-ls {
    margin-left: 5px;
}

.m-lm{
    margin-left: 10px;
}
.m-bm {
    margin-bottom: 10px;
}
.m-bl{
    margin-bottom: 20px;
}
.m-bm {
    margin-bottom: 5px;
}

.border-bottom-think{
    border-bottom: 5px solid #DDD;
}