.m-rs {
    margin-right: 5px;
}
.m-rm{
    margin-right: 10px;
}

.m-ls {
    margin-left: 5px;
}

.m-lm{
    margin-left: 10px;
}
.m-bm {
    margin-bottom: 10px;
}
.m-bl{
    margin-bottom: 20px;
}

.m-tl{
    margin-top: 20px;
}

.border-bottom-think{
    border-bottom: 5px solid #DDD;
}

.bg-success-dark {
    background-color: $brand-success !important;
}

.bg-danger-dark {
    background-color: $brand-danger !important;
}
.bg-info-dark{
    background-color: $brand-info !important;
}

.content-body{
    margin: 20px auto;
}

.btn-rounded {
    border-radius: 26px;
}