<footer class="">
    <div class="">
        <p class="links">
            <a href="/about">ABOUT</a>
            <a href="/core-values">CORE VALUES</a>
            <a href="/team">TEAM</a>
            <a href="/privacy">PRIVACY</a>
            <a href="/terms">TERMS & CONDITIONS</a>
            <a href="/contact-us">GET IN TOUCH</a>
        </p>
        <p>Copyright &copy; <%=new Date().getFullYear()%> Education Alley</p>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/educationalley" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com/educationalley" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/company/educationalley" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
    </div>
</footer>