<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="brand navbar-brand" href="/">
                <span>Career</span><span>raft</span><span
                        class="beta-badge">beta</span></a>
            <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span
                        class="icon-bar"></span><span class="icon-bar"></span><span
                        class="icon-bar"></span></button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" class=""><a href="/about">About</a>
                </li>
                <li role="presentation" class=""><a href="/core-values">Core
                        values</a></li>
                <li role="presentation" class=""><a href="/team">Team</a>
                </li>
                <li role="presentation" class=""><a href="/contact-us">Get
                        in touch</a></li>
            </ul>
        </div>
    </div>
</nav>