<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Careerraft - <%=title %></title>
            <meta name="description" content="">
            <meta name="author" content="">

            <!-- styles -->
            <link href="/static/css/client.css" rel="stylesheet">

        </head>
        <body>
            <% include partials/header.ejs%>
            <div id="main">
                <%- body %>
            </div>
            <% include partials/footer.ejs%>
        </body>
</html>