.search-page{
    .hero-unit{
        background-image: url("/images/looking_at.jpg");
    }

    .filter-panel {
        border: 1px solid #ddd;
        margin-right: 20px;
        background: #FFF;
        border-radius: 6px;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        margin-top: -44px;
        position: relative;

        .filter-pane-header {
            border-bottom: 1px solid $base-border-color;
            background: #f1f1f1;
            padding-left: 20px;
        }

        .filter-panel-body {

            .filter-group {
                border-bottom: 1px solid $base-border-color;
                h5 {
                    padding-left: 20px;
                }
                .filter-list {
                    max-height: 150px;
                    overflow-y: auto;
                    padding:  0 20px;

                    .input-group{
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    //@media (max-width: 768px){
    //    .filter-panel-body {
    //        display: none;
    //    }
    //}
}