.home-page {
    aside {
        width: 230px;
    }

    .main {
        margin: 0 40px;
    }

    .hero {
        background-image: url("/images/laptop_pg.jpeg");
        background-color: rgba(0,0,0,.2);
        min-height: 300px;
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        h3{
            color: white;
            text-transform: uppercase;
            margin-bottom: 50px;
        }


        @media (min-width: 1200px) {
            .query {
                min-width: 400px;
            }
        }

        .content{
            z-index: 1;
            position: relative;
            padding: 50px;
        }

        .search {
            margin-bottom: 50px;
            @media  (max-width: 768px) {
                button {
                    width: 100%;
                }
            }

            .geosuggest {
                margin-right: -1px;
            }
        }

    }

    .overlay {
        background-image: url("/images/overlay-pattern.png");
        background-color: rgba(44,62,80 , 0.2 );
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        position: absolute;
    }

    .teach-hint {
        text-align: center;
        font-weight: 500;
        padding: 8px 0;
    }

    .btn-pill{
        background-color: #FFF;
        border: 1px solid #ccc;
        border-radius: 40px;
        padding: 15px 30px;
        font-size: 2rem;
        font-weight: 700;

        &:hover{
            background-color: $brand-primary;
            color: white;
        }
    }
}