.about-page, .team-page, .contact-page, .values-page,.educator-page {
    article{
        margin-bottom: 20px;
    }

    .hero-unit{
        background-image: url("/images/board_bg.jpg");
    }

    .page-inner{
        margin: 20px auto;
    }
}

.about-page{
    .hero-unit{
        background-image: url("/images/books_bg.jpg");
    }
}

.team-page{
    .hero-unit{
        //background-image: url("/images/student_bg.jpg");
    }

    img{
        margin-top: 20px;
        max-width: 200px;
        max-height:200px;
    }
}
.contact-page{
    .hero-unit{
        background-image: url("/images/pen.jpg");
        background-position: 0px -110px;
    }
    > .lead{
        margin: 20px 0 100px 0;
    }
    span{
        display: inline;
    }
    input, textarea{
        width: 100%;
    }
}

.educator-page {
    .hero-unit{
        background-image: url("/images/puiple.jpg");
    }
    span{
        display: inline;
    }
    .features{
        margin: 40px 0;
    }

    .ft-list {
        > div {
            margin-bottom: 40px;
        }
    }
}