.dropdown{
    position: absolute;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    width: 300px;
    display: none;
    &.show{
        display: block;
    }

    .dd-item {
        padding: 5px 20px;
        margin-bottom: 5px;
        strong{
            text-transform: capitalize;
        }

        &:hover, .hover {
            background-color: #eee;
        }
    }
}