

$bgDefault: #23b7e5;
$bgHighlight: #23b7e5;
$colDefault: #ffffff;
$colHighlight: #286073;
$dropDown: false;

.navbar-default {
    .brand.navbar-brand {
        > span:nth-child(2) {
            color: $brand-primary;
        }
    }

    .navbar-nav {
        li.rounded {
            margin-top: 4px;
            padding: 0 10px;
            a {
                padding: 8px 15px;
                color: $brand-primary;
                border-radius: 60px;
                border: 1px solid #2196f3;

                &:hover{
                    background: $brand-primary !important;
                    color: #fff !important;
                }
            }
        }
    }
}

.navbar-inverse {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    margin-bottom: 0;
    color: white;
    a {
        //margin: 0 10px;
        color: inherit;
        font-weight: 100;
        &:hover, &:focus, &:active {
            color: $blue-dark;
        }
    }
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHighlight;
        }
    }
    .navbar-text {
        color: $colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHighlight;
                }
            }
            @if $dropDown {
                > .dropdown-menu {
                    background-color: $bgDefault;
                    > li {
                        > a {
                            color: $colDefault;
                            &:hover, &:focus {
                                color: $colHighlight;
                                background-color: $bgHighlight;
                            }
                        }
                        > .divider {
                            background-color: darken($bgDefault, 5%);
                        }
                    }
                }
            }
        }
        @if $dropDown {
            .open .dropdown-menu > .active {
                > a, > a:hover, > a:focus {
                    color: $colHighlight;
                    background-color: $bgHighlight;
                }
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
        > .open {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight;
        }
        .icon-bar {
            background-color: $colDefault;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: transparent;
    }
    .navbar-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight;
        }
    }

    @media (min-width: 992px) {
        .query{
            width: 270px !important;
        }

        .geosuggest{
            margin-right: -5px;
        }
    }

    button {
        color: white;
        background-color: rgba(0, 0, 0, .3);
        transition: all 150ms ease 150ms;
        border-color: transparent;
        &:hover {
            background-color: rgba(0, 0, 0, .6);
            color: white;
            border-color: transparent;
        }
    }

    .brand.navbar-brand {
        > span:nth-child(2) {
            color: white;
        }
    }
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;
            &:hover, &:focus {
                color: $colHighlight;
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
        .divider {
            background-color: darken($bgDefault, 5%);
        }
    }
}

@media (min-width: 992px) {
    .navbar-nav{
        li.spaced{
            margin-left: 60px;
        }
    }
    .brand.navbar-brand{
        margin-right: 80px;
    }
}

nav.navbar{
    font-size: 1.4rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    .brand.navbar-brand {
        padding: 0;
        text-transform: uppercase;
        width: 200px;
        font-size: 24px;
        font-weight: 900;
        color: #444;
        -webkit-font-smoothing: antialiased;
        img{
            height: 50px;
        }
        > span:nth-child(2) {
            font-weight: 300;
            padding-left: 2px;
        }
        .beta-badge {
            position: relative;
            font-size: 1.2rem;
            font-weight: 500;
            padding-left: 5px;
            color: rgba(40, 96, 115, 0.91);
            text-shadow: 0 1px 0px rgba(255, 255, 255, .2);
            top: -15px;
            right: 0;

        }
    }
    .avatar {
        border-radius: 50%;
        display: inline-block;
        top: -8px;
        float: left;
        position: relative;
        margin-right: 10px;
    }

    #user-logged-in-menu{
        height: 50px;
        overflow: hidden;
    }
}