.inst-item {
    margin-bottom: 40px;

    .addr {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 5px;
        text-shadow: 1px 1px 1px #fff;
    }

    .desc {
        margin-bottom: 10px;
    }

    .pills {
        margin-bottom: 20px;
        .label {
            margin-right: 5px;
            padding: 8px 10px;
        }
    }
}